
#main{
  font-family:Helvetica, Arial, sans-serif;
  color:#444;
  font-size:10pt;
}

p{
  margin-top:0;
  margin-bottom:1em;
}

p.box{
  background-color:#efefef;
  padding:8px;
}

strong{
  font-weight:bold;
}

em{
  font-style:italic;
}

h2{
  font-weight:bold;
  font-size:12pt;
  margin-top:2.5em;
}

h2:first-child{
  margin-top:0px;
}

h3{
  font-weight:bold;
  font-size:10pt;
}

a{
  color:black;
  text-decoration:underline;
}

#header{
  position:relative;
  height:150px;
  width:955px;
  margin-bottom:5px;
}

a.patch_link{
  position:absolute;
  right:0;
  background-color:#444;
  color:white;
  font-weight:bold;
  text-decoration:none;
}

a#show_page_patch{
  bottom:0;
}

.patch{
  display:none;
  position:absolute;
  top:0px;
  left:963px;
  overflow:auto;
  padding-left:12px;
  border-top:16px solid #444;
}

#header #title{
  font-weight:bold;
  font-size:20pt;
  color:white;
  background-color:#000;
}

#header #particles{
  position:absolute;
  left:0px;
  top:0px;
}

ul#menu{
  list-style:none;
  padding:0px;
  width:350px;
  border-bottom:2px solid #999;
  float:left;
  margin:0px;
}

ul#menu a{
  display:block;
  text-decoration:none;
  height:35px;
  border-top:2px solid #444;
  color:#444;
  text-decoration:none;
  font-weight:bold;
  font-size:14pt;
}

#contents{
  margin-left:355px;
  width:600px;
  border-bottom:2px solid #999;
  text-align:justify;
}

#contents .content_window{
  position:relative;
  overflow:hidden;
  height:35px;
  border-top:2px solid #444;
}

#contents .content_window .content{
  padding-top:5px;
  padding-bottom:5px;
}

.clear{
  clear:both;
}

#teaser_patch{
  background:#e6e6e6;
  text-align:center;
  margin-bottom:20px;
}

.content pre{
  height:auto;
  width:auto;
  overflow:auto;
  padding:5px;
}

#example3{
  width:80%;
  position:relative;
  height:60px;
}

#example3 .example3_bar{
  position:absolute;
  bottom:0px;
  width:9%;
  background-color:black;
  border:1px solid white;
  height:10px;
}


#nodelist{

}

#nodelist .node2{
  clear:both;
  border-bottom:1px solid #cfcfcf;
}

#nodelist .node2 .header{
  display:block;
  background:#efefef;
  padding:10px 0px 10px 10px;
}

#nodelist .node2 .name{
  float:left;
  font-weight:bold;
}

#nodelist .node2 .compatibility_rate{
  border:1px solid black;
  background:white;
  width:25%;
  margin-left: 70%;
}

#nodelist .node2 .compatibility_rate div{
  height:5px;
  background-color:#555;
}

#nodelist .node2 .infos{
  display:none;
  margin:10px;
  clear:both;
}

#nodelist .node2 .infos label{
  clear:both;
  float:left;
  padding-bottom:0.8em;
}

#nodelist .node2 .infos .data{
  margin-left:30%;
  padding-bottom:0.8em;
}

