
#main{
  font-family:Helvetica, Arial, sans-serif;
  color:#444;
}

p{
  margin-top:0;
}

a{
  text-decoration:none;
  color:black;
}

#header{
  position:relative;
  height:150px;
  width:955px;
  overflow:hidden;
  margin-bottom:5px;
}

#header a#showpatch{
  position:absolute;
  right:0;
  bottom:0;
  background-color:#000;
  color:white;
  font-weight:bold;
}

#header #title{
  font-weight:bold;
  font-size:20pt;
  color:white;
  background-color:#000;
}

#header #particles{
  position:absolute;
  left:0px;
  top:0px;
}

ul#menu{
  list-style:none;
  padding:0px;
  width:350px;
  border-bottom:2px solid #999;
  float:left;
  margin:0px;
}

ul#menu a{
  display:block;
  height:35px;
  border-top:2px solid #444;
  color:#444;
  text-decoration:none;
  font-weight:bold;
  font-size:14pt;
}

#contents{
  margin-left:355px;
  width:600px;
  border-bottom:2px solid #999;
  text-align:justify;
}

#contents .content_window{
  overflow:hidden;
  height:35px;
  border-top:2px solid #444;
}

#contents .content_window .content{
  padding-top:5px;
  padding-bottom:5px;
}

.clear{
  clear:both;
}

.patch{
  margin-top:30px;
  overflow:auto;
  width:955px;
}