
body{
  margin:0px;
}

#main{
  font-family:Helvetica, Arial, sans-serif;
  color:#444;
  font-size:9pt;
  margin:10px;
}

p{
  margin-top:0;
  margin-bottom:1em;
}

p.box{
  background-color:#efefef;
  padding:6px;
}

p.box span{
  display:inline-block;
  width:33%;
}

strong{
  font-weight:bold;
}

em{
  font-style:italic;
}

h2{
  font-weight:bold;
  font-size:11pt;
  margin-top:1.5em;
}

h2:first-child{
  margin-top:0px;
}

h3{
  font-weight:bold;
  font-size:9pt;
}

a{
  color:black;
  text-decoration:underline;
}

#header{
  position:relative;
  height:150px;
  width:793px;
  margin-bottom:5px;
  background:#35302b;
}

a.patch_link{
  position:absolute;
  right:0;
  background-color:#444;
  color:white;
  text-decoration:none;
  padding-left:2px;
  padding-right:2px;
}

a#show_page_patch{
  bottom:20;
}

a#show_header_patch{
  bottom:2;
}

.patch{
  display:none;
  position:absolute;
  top:0px;
  left:800px;
  overflow:auto;
  padding-left:18px;
  border-top:15px solid #444;
}

#header #title{
  font-weight:bold;
  font-size:20pt;
  color:white;
  margin:5px;
}

#header #particles{
  position:absolute;
  left:0px;
  top:0px;
}

#menu_panel{
  float:left;
  margin:0px;
}

ul#menu{
  list-style:none;
  padding:0px;
  width:308px;
  border-bottom:2px solid #999;
  margin:0px;
}

ul#menu a{
  display:block;
  text-decoration:none;
  height:28px;
  border-top:1px solid #444;
  color:#444;
  text-decoration:none;
  font-weight:bold;
  font-size:12pt;
}

#disclaimer{
  margin-top:60px;
  width:308px;
}

#disclaimer .social_button{
  display:block;
  margin-top:1em;
}

#contents{
  margin-left:313px;
  width:480px;
  border-bottom:2px solid #999;
  text-align:justify;
}

#contents .content_window{
  position:relative;
  overflow:hidden;
  height:28px;
  border-top:1px solid #444;
}

#contents .content_window .content{
  padding-top:5px;
  padding-bottom:5px;
}

.clear{
  clear:both;
}

#teaser_patch{
  background:#e6e6e6;
  text-align:center;
  margin-bottom:20px;
}

.content pre{
  height:auto;
  width:auto;
  overflow:auto;
  padding:5px;
}

#example3{
  width:80%;
  position:relative;
  height:60px;
}

#example3 .example3_bar{
  position:absolute;
  bottom:0px;
  width:9%;
  background-color:black;
  border:1px solid white;
  height:10px;
}


#nodelist{

}

#nodelist .group{
  margin-top:2em;
  background:#444;
  color:white;
  margin-top:1em;
  padding:8px 0px 8px 10px;
  font-size:11pt;
}

#nodelist .node2{
  clear:both;
  border-bottom:1px solid #cfcfcf;
}

#nodelist .node2 .header{
  display:block;
  background:#efefef;
  padding:10px 0px 10px 10px;
}

#nodelist .node2 .name{
  float:left;
  font-weight:bold;
}

#nodelist .node2 .compatibility_rate{
  border:1px solid black;
  background:white;
  width:25%;
  margin-left: 70%;
}

#nodelist .node2 .compatibility_rate div{
  height:5px;
  background-color:#555;
}

#nodelist .node2 .infos{
  display:none;
  margin:10px;
  clear:both;
}

#nodelist .node2 .infos label{
  clear:both;
  float:left;
  padding-bottom:0.8em;
}

#nodelist .node2 .infos .data{
  margin-left:30%;
  padding-bottom:0.8em;
}

#not-supported{
  display:none;
}

#compatibility_message{
  display:none;
  width:100%;
  margin:0px;
  padding:10px;
  background:#35302b;
  color:white;
}

a.download_link{
  display:inline-block;
  border:1px solid #444;
  background:#999;
  color:white;
  font-weight:bold;
  text-decoration:none;
  width:54px;
  text-align:center;
  padding:3px;
}

.blog_post{
  margin-bottom:4em;
}

.blog_post h2{
  margin:0px;
  display:inline;
  float:left;
}

.blog_meta{
  font-size:8pt;
  color:#ccc;
  margin-bottom:1em;
  text-align:right;
}

.blog_post p{
  clear:both;
}

.blog_post img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:1.5em;
  margin-bottom:1.5em;
}

